<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="partials/common :: head">
    </th:block>
    <link rel="stylesheet" href="/css/employee.css"/>
    <title>Tixie.Pro | Employee</title>
</head>
<body>
<div class="uk-container">
    <th:block th:replace="partials/common :: navigation-index-page">
    </th:block>
</div>

<div class="main">
    <div class="uk-container uk-margin">
        <div uk-grid="">
            <div class="uk-width-1-4">
                <div class="uk-card uk-card-default uk-card-body tixie-text-link ">
                    <div class="uk-grid-small" uk-grid="">
                        <div class="uk-width-auto uk-margin-bottom uk-align-center" th:object="${profile}">
                            <div class="photo uk-text-center uk-align-center">
                                <img th:src="${profile.profileImage}"/>
                            </div>
                        </div>
                    </div>
                    <div class="uk-card-body uk-text-left">
                        <div class="uk-width-expand">
                            <p class="uk-text-bold  uk-text-capitalize uk-margin-remove-bottom"
                               th:text="'Welcome, '+ ${profile.firstName}"></p>
                        </div>
                        <span class="uk-article-meta" th:text="${profile.email}"></span>
                        <span class="uk-label uk-label-success" th:text="${profile.role.role}"></span>
                        <span class="uk-label uk-label-default" th:text="${profile.specialization.name}"></span>
                    </div>
                    <div class="uk-card-footer">
                        <a href="/employee/ticket/create" class="uk-button uk-button-text">Create Ticket</a>
                    </div>
                </div>
            </div>

            <div class="uk-width-3-4 ">
                <!-- Open Tickets -->
                <div class="uk-card uk-card-default uk-card-body tixie-main-body ">
                    <h5>My Open Tickets</h5>
                    <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">

                        <div class="tixie-tb-div divtable uk-flex uk-flex-left">
                            <div class="uk-width-1-6 uk-flex-left">Ticket Number</div>
                            <div class="uk-flex-left uk-width-1-2">Details</div>
                            <div class="uk-flex-left uk-text-nowrap uk-width-1-3">Status</div>
                            <div class="uk-flex-left uk-text-nowrap">View</div>
                        </div>

                        <tbody>
                        <!--                            <th:block th:each="ticket : ${tix}">-->
                        <div class="container">
                            <th:block th:each="ticket : ${page}">

                                <div class="single-item">
                                    <th:block th:if="${ticket.statusId.status} == @{'open'}">
                                        <div class="tixie-row uk-flex tixie-tb-div">
                                            <div class="uk-width-1-6 uk-flex-left ">
                                                <a class="uk-link-reset" href=""
                                                   th:text="'TX' + '-' + ${ticket.id} +'-'+${ticket.getSpecialization_id().name}"></a>
                                            </div>
                                            <div class="tixie-tb-div uk-text-truncate uk-flex-left uk-width-1-2"
                                                 th:text="${ticket.issue_details}"></div>
                                            <div class="uk-text-primary tixie-tb-div uk-flex-left uk-text-nowrap uk-width-1-3 uk-text-uppercase"
                                                 th:text="${ticket.statusId.status}"></div>
                                            <div class="tixie-tb-div uk-flex-left uk-text-nowrap">
                                                <a class="uk-icon-link" uk-icon="file-edit"
                                                   th:href="'#modal-' + ${ticket.id}"
                                                   uk-toggle=""></a></div>
                                        </div>
                                    </th:block>
                                </div>

                                <!--  Modal View -->
                                <div th:id="'modal-' + ${ticket.id}" uk-modal="">
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <h4 class="uk-modal-title"
                                            th:text="'TX' + '-' + ${ticket.id} +'-'+${ticket.getSpecialization_id().name}"></h4>
                                        <p th:text="${ticket.issue_details}"></p>
                                        <p class="uk-text-right">
                                            <button class="uk-button uk-button-default uk-modal-close" type="button">
                                                Close
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </th:block>
                        </div>
                        </tbody>
                    </table>

                </div>
                <!-- End Open tickets -->

                <!-- In Progress-->
                <div class="uk-card uk-card-default uk-card-body tixie-main-body uk-margin-large">
                    <div class="uk-overflow-auto">
                        <h5>User In-Progress tickets</h5>
                        <div class="uk-table uk-table-hover uk-table-middle uk-table-divider">

                            <div class="tixie-tb-div divtable uk-flex uk-flex-left">
                                <div class="uk-width-1-6 uk-flex-left">Ticket Number</div>
                                <div class="uk-flex-left uk-width-1-2">Details</div>
                                <div class="uk-flex-left uk-text-nowrap uk-width-1-3">Status</div>
                                <div class="uk-flex-left uk-text-nowrap">View</div>
                            </div>

                            <div class="container2">
                                <th:block th:each="ticket : ${page2}">
                                    <div class="single-item2">
                                        <th:block th:if="${ticket.statusId.status} == @{'in progress'}">
                                            <!--  <td><img class="uk-preserve-width uk-border-circle" th:src="${ticket.authorId.getProfileImage()}" width="21" height="21" alt=""/></td>-->
                                            <div class="tixie-row uk-flex tixie-tb-div">
                                                <div class="uk-width-1-6 uk-flex-left ">
                                                    <a class="uk-link-reset" href=""
                                                       th:text="'TX' + '-' + ${ticket.id} +'-'+${ticket.getSpecialization_id().name}"></a>
                                                </div>
                                                <div class="tixie-tb-div uk-text-truncate uk-flex-left uk-width-1-2"
                                                     th:text="${ticket.issue_details}"></div>
                                                <div class="uk-text-primary tixie-tb-div uk-flex-left uk-text-nowrap uk-width-1-3 uk-text-uppercase"
                                                     th:text="${ticket.statusId.status}"></div>
                                                <div class="tixie-tb-div uk-flex-left uk-text-nowrap">
                                                    <a class="uk-icon-link" uk-icon="file-edit"
                                                       th:href="'#modal-' + ${ticket.id}"
                                                       uk-toggle=""></a></div>
                                            </div>
                                        </th:block>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End in  Progress-->

                <!--  Completed Tickets-->
                <div class="uk-card uk-card-default uk-card-body uk-margin tixie-main-body">
                    <div class="uk-overflow-auto">
                        <h5>User Tickets Completed</h5>
                        <div class="uk-table uk-table-hover uk-table-middle uk-table-divider">

                            <div class="tixie-tb-div divtable uk-flex uk-flex-left">
                                <div class="uk-width-1-6 uk-flex-left">Ticket Number</div>
                                <div class="uk-flex-left uk-width-1-2">Details</div>
                                <div class="uk-flex-left uk-text-nowrap uk-width-1-3">Status</div>
                                <div class="uk-flex-left uk-text-nowrap">View</div>
                            </div>
                            <div class="container3">
                            <th:block th:each="ticket : ${page3}">
                                <div class="single-item3">
                                    <th:block th:if="${ticket.statusId.status} == @{'complete'}">
                                        <!--  <td><img class="uk-preserve-width uk-border-circle" th:src="${ticket.authorId.getProfileImage()}" width="21" height="21" alt=""/></td>-->
                                        <div class="tixie-row uk-flex tixie-tb-div">
                                            <div class="uk-width-1-6 uk-flex-left ">
                                                <a class="uk-link-reset" href=""
                                                   th:text="'TX' + '-' + ${ticket.id} +'-'+${ticket.getSpecialization_id().name}"></a>
                                            </div>
                                            <div class="tixie-tb-div uk-text-truncate uk-flex-left uk-width-1-2"
                                                 th:text="${ticket.issue_details}">

                                            </div>
                                            <div class="uk-text-primary tixie-tb-div uk-flex-left uk-text-nowrap uk-width-1-3 uk-text-uppercase"
                                                 th:text="${ticket.statusId.status}">

                                            </div>
                                            <div class="tixie-tb-div uk-flex-left uk-text-nowrap">
                                                <a class="uk-icon-link" uk-icon="file-edit"
                                                   th:href="'#modal-' + ${ticket.id}"
                                                   uk-toggle=""></a>
                                            </div>
                                        </div>
                                    </th:block>
                                </div>
                            </th:block>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End Completed Tickets-->
            </div>
        </div>
    </div>
</div>
<!-- End Test Grid-->
<!--<div class="uk-section">-->
<!--<div sec:authorize="isAuthenticated()">-->
<!--User ID: <span th:text="${#authentication.principal.id}"></span>-->
<!--Username: <span th:text="${#authentication.principal.username}"></span>-->
<!--Email: <span th:text="${#authentication.principal.email}"></span>-->
<!--</div>-->
<!--</div>-->
</body>
<footer class="uk-height-small">
    <th:block th:include="partials/common :: footer">
    </th:block>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="/static/js/paginationjs.js" th:src="@{/js/paginationjs.js}"></script>

</footer>
</html>