<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:fragment="head">
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css" />
        <link rel="stylesheet" href="/css/nav.css" />
    </th:block>
</head>
<body>

<th:block th:fragment="navigation-index-page">
    <div class="uk-position-relative">
        <div class="uk-position-top">
            <nav class="uk-navbar-container uk-navbar-transparent" uk-navbar="">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/tech">Technician</a></li>
                        <li>
                            <a href="#">Manager</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li><a href="/dashboard/all">Dashboard</a></li>
                                    <li><a href="/tickets/all">Tickets</a></li>
                                    <li><a href="/tech-list/all">Technicians</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Login</a>
                            <div class="uk-navbar-dropdown">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <form th:action="@{/login}" method="POST">
                                        <div class="uk-margin">
                                            <div class="uk-inline">
                                                <span class="uk-form-icon" uk-icon="icon: user"></span>
                                                <input class="uk-input" name="username" type="text"/>
                                            </div>
                                        </div>

                                        <div class="uk-margin">
                                            <div class="uk-inline">
                                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                                <input class="uk-input" name="password" type="password"/>
                                            </div>
                                        </div>
                                        <button class="uk-button uk-button-default demo" type="submit"
                                                onclick="UIkit.notification({message: 'Login Succesfull!', status: 'success'})">
                                            Login
                                        </button>
                                    </form>
                                </ul>
                            </div>
                        </li>
                        <li class="uk-navbar-nav" sec:authorize="isAuthenticated()"><a
                                th:href="@{'/employee/{id}' (id=${#authentication.principal.id})}">Dashboard</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</th:block>


</body>
<footer th:fragment="footer">
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
    <script src="/static/js/intercom.js" th:src="@{/js/intercom.js}"></script>
    <script src="/static/js/custom.js" th:src="@{/js/custom.js}"></script>
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
</footer>
</html>