<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<div th:style="@{width: 70%; margin: auto;text-align: center;}">
    <h1>List Of Technicians</h1>
</div>

<div th:style="@{width: 70%; margin: auto;}">
    <div th:each="tech :${techs}">
        <div th:style="@{float:left; clear:left;width: 400px; border: black 2px solid;margin :3px;}">
            <h3 th:text="@{${tech.firstName}+' '+${tech.lastName}}">heading goes here</h3>
            <p th:text="@{'Role: '+${tech.role.role}}">role</p>
            <p th:text="@{'Specialization: '+${tech.specialization.name}}"></p>
            <p>Tickets assigned:
                <span th:text="${tech.tixCount(tix)}">
                test failed
                </span>
            </p>

            <div>
                <form th:action="@{/change-role}" th:method="post">
                    <p> change role</p>
                    <select name="role" id="role">
                        <th:block th:each="role: ${roles}">
                            <th:block th:if="${tech.role.role}==${role.role}">

                                <option th:value="@{${role.id} }"
                                        th:text="${role.role}"
                                        th:selected="@{selected}">
                                    Role
                                </option>
                            </th:block>
                            <th:block th:if="${tech.role.role}!=${role.role}">
                                <option th:value="@{${role.id} }"
                                        th:text="${role.role}">
                                    not the role
                                </option>
                            </th:block>
                        </th:block>
                    </select>
                    <p> change Specialization</p>
                    <select name="changespec" id="changespec">
                        <th:block th:each="spec : ${specs}">
                            <th:block th:if="${spec.id}== ${tech.specialization.id}">
                                <option th:value="${spec.id}"
                                        th:text="${spec.name}"
                                        th:selected="@{selected}">
                                    spec name
                                </option>
                            </th:block>
                            <th:block th:if="${spec.id} != ${tech.specialization.id}">
                                <option th:value="${spec.id}" th:text="${spec.name}">
                                    spec name
                                </option>
                            </th:block>
                        </th:block>
                    </select>
                    <input type="hidden" th:value="${tech.id}" name="techid" id="techid"/>
                    <button> Submit Changes</button>
                </form>
            </div>

        </div>
        <div th:style="@{float:left;clear:right; width: 400px; min-height:100px; border: black 2px solid;margin :3px;}">

            <div th:each="ticket : ${tix}">

                <a th:href="@{'/tech/ticket/'+${ticket.id}}">
                    <div th:if="${ticket.ownerId}==${tech}">
                        <p>
                        <span th:text="@{'Tickets assigned: TX_'+${ticket.id}+'_'+${ticket.getSpecialization_id().name }}">
                            <button>
                                View Ticket
                            </button>
                        </span>
                        </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>


</body>
</html>