<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials/common :: head">
    </th:block>
    <link rel="stylesheet" href="/css/manager-tech.css"/>
    <script src="https://kit.fontawesome.com/7508253178.js"></script>
    <title>Tixie | Manager | All Techs List</title>
</head>
<body>
<div class="uk-container">
    <th:block th:include="partials/common :: navigation-index-page">
    </th:block>
</div>

<div class="main">
    <div class="uk-container">
        <div uk-filter="target: .js-filter">
            <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid="">
                <div>
                    <ul class="uk-subnav uk-subnav-pill" uk-margin="">
                        <li class="uk-active" uk-filter-control=""><a href="#">All</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="uk-subnav uk-subnav-pill" uk-margin="">
                        <li uk-filter-control="filter: [data-tech='2']; group: data-tech"><a href="#">Electricians</a>
                        </li>
                        <li uk-filter-control="filter: [data-tech='3']; group: data-tech"><a
                                href="#">Plumbers</a></li>
                        <li uk-filter-control="filter: [data-tech='5']; group: data-tech"><a
                                href="#">Custodians</a></li>
                        <li uk-filter-control="filter: [data-tech='4']; group: data-tech"><a href="#">HVAC Techs</a>
                        </li>
                        <li uk-filter-control="filter: [data-tech='1']; group: data-tech"><a
                                href="#">Carpenters</a></li>
                    </ul>
                </div>
                <div>
                    <ul class="uk-subnav uk-subnav-pill" uk-margin="">
                        <li uk-filter-control="filter: [data-size='admin']; group: size"><a href="#">Admin</a>
                        </li>
                        <li uk-filter-control="filter: [data-size='tech']; group: size"><a href="#">Tech</a>
                        </li>
                        <li uk-filter-control="filter: [data-size='employee']; group: size"><a href="#">Employee</a>
                        </li>
                    </ul>
                </div>
            </div>

            <ul class="js-filter uk-child-width-1-4 uk-child-width-1-4@m uk-text-center" uk-grid="masonry: true">
                <th:block th:each="tech :${techs}">
                    <li data-th-attr="data-tech=${tech.specialization.id}, data-size=${tech.role.role} ">
                        <div class="uk-card uk-card-default uk-card-body">
                            <img class="tech-photo" th:src="${tech.profileImage}" alt=""/>
                            <div class="" th:text="@{${tech.firstName}+' '+${tech.lastName}}"></div>
                            <div class="uk-label uk-label-warning" th:text="@{'Role: '+${tech.role.role}}"></div>
                            <div class="uk-label uk-label-default"
                                 th:text="@{'Spec: '+${tech.specialization.name}}"></div>
                            <div class="uk-label uk-label-default" th:text="${tech.tixCount(tix)}"></div>
                            <a class="uk-button uk-button-default uk-margin-top" th:href="@{'#modal-' + ${tech.id}}"
                               uk-toggle="">Open</a>
                        </div>
                        <!--    Off Canvas   -->
                        <div th:id="@{'modal-'+ ${tech.id}}" uk-modal="">
                            <div class="uk-modal-dialog">
                                <button class="uk-modal-close-default" type="button" uk-close=""></button>

                                <div class="uk-modal-header">
                                    <h2 class="uk-modal-title" th:text="${tech.id}"></h2>
                                </div>
                                <div class="uk-modal-body" uk-overflow-auto="">

                                    <form th:action="@{/change-role}" th:method="post">
                                        <p> change role</p>
                                        <select name="role" id="role">
                                            <th:block th:each="role: ${roles}">
                                                <th:block th:if="${tech.role.role}==${role.role}">
                                                    <option th:value="@{${role.id} }"
                                                            th:text="${role.role}"
                                                            th:selected="@{selected}">
                                                        Role
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                        <p> change Specialization</p>
                                        <select name="changespec" id="changespec">
                                            <th:block th:each="spec : ${specs}">
                                                <th:block th:if="${spec.id}== ${tech.specialization.id}">
                                                    <option th:value="${spec.id}"
                                                            th:text="${spec.name}"
                                                            th:selected="@{selected}">
                                                        spec name
                                                    </option>
                                                </th:block>
                                                <th:block th:if="${spec.id} != ${tech.specialization.id}">
                                                    <option th:value="${spec.id}" th:text="${spec.name}">
                                                        spec name
                                                    </option>
                                                </th:block>
                                            </th:block>
                                        </select>
                                        <input type="hidden" th:value="${tech.id}" name="techid" id="techid"/>
                                        <button> Submit Changes</button>
                                    </form>
                                </div>

                                <div class="uk-modal-footer uk-text-right">
                                    <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel
                                    </button>
                                    <button class="uk-button uk-button-primary" type="button">Save</button>
                                </div>
                            </div>
                        </div>
                        <!--   End off Canvas -->
                    </li>
                </th:block>
            </ul>
        </div>
    </div>
</div>

<!--<div class="main-2">-->
<!--    <div th:style="@{width: 70%; margin: auto;text-align: center;}">-->
<!--        <h1>List Of Technicians</h1>-->
<!--    </div>-->

<!--    <div th:style="@{width: 70%; margin: auto;}">-->
<!--        <div th:each="tech :${techs}">-->
<!--            <div th:style="@{float:left; clear:left;width: 400px; border: black 2px solid;margin :3px;}">-->

<!--                <h3 th:text="@{${tech.firstName}+' '+${tech.lastName}}">heading goes here</h3>-->

<!--                <p th:text="@{'Role: '+${tech.role.role}}">role</p>-->
<!--                <p th:text="@{'Specialization: '+${tech.specialization.id}}"></p>-->
<!--                <p>Tickets assigned:-->
<!--                    <span th:text="${tech.tixCount(tix)}">-->
<!--                test failed-->
<!--                </span>-->
<!--                </p>-->

<!--                <div>-->
<!--                    <form th:action="@{/change-role}" th:method="post">-->
<!--                        <p> change role</p>-->
<!--                        <select name="role" id="role">-->
<!--                            <th:block th:each="role: ${roles}">-->
<!--                                <th:block th:if="${tech.role.role}==${role.role}">-->
<!--                                    <option th:value="@{${role.id} }"-->
<!--                                            th:text="${role.role}"-->
<!--                                            th:selected="@{selected}">-->
<!--                                        Role-->
<!--                                    </option>-->
<!--                                </th:block>-->
<!--                            </th:block>-->
<!--                        </select>-->
<!--                        <p> change Specialization</p>-->
<!--                        <select name="changespec" id="changespec">-->
<!--                            <th:block th:each="spec : ${specs}">-->
<!--                                <th:block th:if="${spec.id}== ${tech.specialization.id}">-->
<!--                                    <option th:value="${spec.id}"-->
<!--                                            th:text="${spec.name}"-->
<!--                                            th:selected="@{selected}">-->
<!--                                        spec name-->
<!--                                    </option>-->
<!--                                </th:block>-->
<!--                                <th:block th:if="${spec.id} != ${tech.specialization.id}">-->
<!--                                    <option th:value="${spec.id}" th:text="${spec.name}">-->
<!--                                        spec name-->
<!--                                    </option>-->
<!--                                </th:block>-->
<!--                            </th:block>-->
<!--                        </select>-->
<!--                        <input type="hidden" th:value="${tech.id}" name="techid" id="techid"/>-->
<!--                        <button> Submit Changes</button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div th:style="@{float:left;clear:right; width: 400px; min-height:100px; border: black 2px solid;margin :3px;}">-->
<!--                <div th:each="ticket : ${tix}">-->
<!--                    <a th:href="@{'/tech/ticket/'+${ticket.id}}">-->
<!--                        <div th:if="${ticket.ownerId}==${tech}">-->
<!--                            <p>-->
<!--                        <span th:text="@{'Tickets assigned: TX_'+${ticket.id}+'_'+${ticket.getSpecialization_id().name }}">-->
<!--                            <button>-->
<!--                                View Ticket-->
<!--                            </button>-->
<!--                        </span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>
<footer>
    <th:block th:include="partials/common :: footer">
    </th:block>
</footer>
</html>