<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <style>
        h3 {
            border-bottom: #1a1a1a 3px solid;
            text-align: center;
        }


        .container {
            margin-top: 1rem;

        }

        .mainTitle {
            border: #1a1a1a 3px solid;
            width: fit-content;
            align-content: center;
            text-align: center;
            display: inline;
            margin-left: 40%;
        }

        .top-border {
            border-top: #1a1a1a 3px solid;
            padding: 15px 0 15px 0;
        }

        .activeTicketsTitle {
            border: #1a1a1a 3px solid;
            width: fit-content;
        }

        /*#activeTickets{*/
        /*visibility: hidden;*/
        /*}*/

        .assignedTickets {
            border: #1a1a1a 3px solid;
            width: 500px;
            height: 693px;
        }

        table, th {
            border: 1px solid black;
        }

        .float-right {
            float: right;
        }

        .align-left {
            text-align: left;
        }

        .activeTicketsTitle {
            width: 60%;
            margin-left: 25%;

        }

        .radios {
            display: flex;
            justify-content: space-between;
        }

        .all-width {
            width: 100%;
            padding: 15px 0 15px 0;
        }

        .whole-page {
            display: inline-flex;
            padding-top: 15px;
        }

        #table-wrapper {
            position: relative;
        }

        #table-scroll {
            height: 630px;
            overflow: auto;
            margin-top: 20px;
        }

        #table-wrapper table {
            width: 100%;

        }

        .text {
            text-align: center;
        }


    </style>
</head>
<body>
<div class="container">
    <h1 class="mainTitle">Building Maintenance</h1>
    <button class="float-right">Logout</button>
    <div class="whole-page">
        <div class="assignedTickets">
            <h3>Assigned Tickets</h3>
            <div class="view">
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <table>
                            <thead>
                            <div th:each="tickets : ${tix}">
                                <tr>
                                    <th>Active</th>
                                    <th>Ticket Id</th>
                                    <th>Notes</th>
                                </tr>
                                <tr>
                                    <td class="text">
                                        <th:block th:if="${active}">
                                            <th:block th:if="${tickets.id} == ${ticket.id}">
                                                <a th:href="@{'/tech/ticket/' + ${tickets.id}}">
                                                    <div>
                                                        <div onclick="showSingleTicket()" class="text">
                                                            <input type="checkbox" checked="checked"></input>
                                                        </div>
                                                    </div>
                                                </a>
                                            </th:block>
                                            <th:block th:if="${tickets.id} != ${ticket.id}">
                                                <a th:href="@{'/tech/ticket/' + ${tickets.id}}">
                                                    <div>
                                                        <div name="active" value="Active">
                                                            <button>Activate</button>
                                                        </div>
                                                    </div>
                                                </a>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${!active}">
                                            <a th:href="@{'/tech/ticket/' + ${tickets.id}}">
                                                <div>
                                                    <div onclick="showSingleTicket()" class="text" type="checkbox"
                                                         name="active" value="Active">
                                                        <button>Activate</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </th:block>
                                    </td>
                                    <td class="text"><span class="text" th:text="${tickets.id}"/></td>
                                    <td><span class="text" th:text="${tickets.issue_details}"/></td>
                                </tr>
                            </div>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${active}" class="activeTicketsTitle">
            <div>
                <h3 class="align-left">Active Ticket</h3>
            </div>
            <div class="activeDetails">
                <table>
                    <tr>
                        <th>Category: <span th:text="${ticket.specialization_id.name}"></span></th>
                    </tr>
                    <tr>
                        <th>Location: <span th:text="${ticket.location_1}"></span> , <span
                                th:text="${ticket.location_2}"></span></th>
                    </tr>
                </table>
            </div>
            <div>
                <h3 class="align-left top-border">Details</h3>
            </div>
            <div class="activeDetails">
                <p th:text="${ticket.issue_details}">Sleep in the bathroom sink pretend you want to go out but then
                    don't stare out cat door then go back
                    inside for allways wanting food, tuxedo cats always looking dapper sniff other cat's butt and hang
                    jaw
                    half open thereafter. Meow go back to sleep owner brings food and water tries to pet on head, so
                    scratch
                    get sprayed by water because bad cat lick face hiss at owner, pee a lot, and meow repeatedly scratch
                    at
                    fence purrrrrr eat muffins and poutine until owner comes back for destroy house in 5 seconds but sit
                    and
                    stare plop down in the middle where everybody walks and cereal boxes make for five star
                    accommodation .
                    Have my breakfast spaghetti yarn cats go for world domination yet eats owners hair then claws head.
                    Purrrrrr jump off balcony, onto stranger's head but eats owners hair then claws head or spit up on
                    light
                    gray carpet instead of adjacent linoleum and pet my belly, you know you want to; seize the hand and
                    shred it! toy mouse squeak roll over so sit on human. Jump up to edge of bath, fall in then scramble
                    in
                    a mad panic to get out lounge in doorway so trip on catnip but chill on the couch table scratch at
                    fleas, meow until belly rubs, hide behind curtain when vacuum cleaner is on scratch strangers and
                    poo on
                    owners food. Throw down all the stuff in the kitchen. Cuddle no cuddle cuddle love scratch scratch
                    lick
                    yarn hanging out of own butt wake up wander around the house making large amounts of noise jump on
                    top
                    of your human's bed and fall asleep again but hide head under blanket so no one can see or eat a rug
                    and
                    furry furry hairs everywhere oh no human coming lie on counter don't get off counter but fight own
                    tail,
                    or hunt by meowing loudly at 5am next to human slave food dispenser. Attack dog, run away and
                    pretend to
                    be victim lick yarn hanging out of own butt eat the rubberband fight an alligator and win thug cat
                    mice
                    but i’m so hungry i’m so hungry but ew not for that . Chase after silly colored fish toys around the
                    house dead stare with ears cocked yet i like cats because they are fat and fluffy flop over, and
                    hopped
                    up on catnip, yet push your water glass on the floor for paw at your fat belly. Allways wanting food
                    if
                    it fits, i sits. I is not fat, i is fluffy cat sit like bread catasstrophe yet proudly present butt
                    to
                    human and and sometimes switches in french and say "miaou" just because well why not have a lot of
                    grump
                    in yourself because you can't forget to be grumpy and not be like king grumpy cat check cat door for
                    ambush 10 times before coming in. Stick butt in face run up and down stairs, kick up litter lick the
                    plastic bag. Chase the pig around the house poop on floor and watch human clean up cat dog hate
                    mouse
                    eat string barf pillow no baths hate everything steal the warm chair right after you get up. Cat
                    meoooow
                    i iz master of hoomaan, not hoomaan master of i, oooh damn dat dog eat half my food and ask for more
                    so
                    poop on floor and watch human clean up, yet scratch the postman wake up lick paw wake up owner meow
                    meow. Stare at ceiling behind the couch meow loudly just to annoy owners meoooow so annoy the old
                    grumpy
                    cat, start a fight and then retreat to wash when i lose so rub face on owner but dismember a mouse
                    and
                    then regurgitate parts of it on the family room floor.</p>
            </div>
            <div>
                <h3 class="align-left top-border">Notes</h3>
            </div>
            <div th:each="note : ${note}" class="activeDetails">
                <p th:text="${note.description}">Meow to be let in it's 3am, time to create some chaos or scratch the
                    postman wake up lick paw wake up
                    owner meow meow, for chase mice flop over, so give attitude. Eat from dog's food kitty run to human
                    with
                    blood on mouth from frenzied attack on poor innocent mouse, don't i look cute?. Murder hooman toes
                    meowzer pounce on unsuspecting person attack the child sit on the laptop chase laser. Where is my
                    slave?
                    I'm getting hungry poop on grasses. It's 3am, time to create some chaos . Meow in empty rooms
                    relentlessly pursues moth or warm up laptop with butt lick butt fart rainbows until owner yells pee
                    in
                    litter box hiss at cats. Sniff all the things meeeeouw for tuxedo cats always looking dapper. Grass
                    smells good see owner, run in terror. </p>
            </div>
            <label class="radios">
                <div class="all-width">
                    <table class="all-width">
                        <tr>
                            <form action="">
                                <td style="text-align: left"><input type="radio" checked="checked" name="radio" id="progress"/>
                                    <label for="progress">In Progress</label>
                                </td>
                                <td style="text-align: center"><input type="radio" name="radio" id="complete"/>
                                    <label for="complete">Complete</label>
                                </td>
                                <td style="text-align: right"><input type="radio" name="radio" id="escalate"/>
                                    <label for="escalate">Escalate</label>
                                </td>
                            </form>
                        </tr>
                    </table>
                </div>
                <th:block >
                    <!--                    todo implement authentication to limit buttons to manager or above-->

                    <div>
                        <p>
                            Reasign Ticket
                        </p>
                        <button >
                            <!--                            todo new view with list of techs.-->
                        </button>
                    </div>
                </th:block>
            </label>
        </div>
    </div>
</div>

</body>
</html>