.tixie-main-about {
    padding-top: 9%;
}

.tixie-about-us-large h1 {
    font-size: 9em;
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 3%;
    overflow: hidden;
    border: 5px solid #fafafa;
    background-color: #fafafa;
    box-shadow: 0 0 0.5rem #babbbc;
    animation: rotate-photo 0.5s forwards ease-in-out;
}

@keyframes rotate-photo {
    100% {
        transform: rotate(-360deg);
    }
}
.photo img {
    width: 100%;
}

#myChart {
    height: 300px
}

.tixie-about-us-large h3 {
    border-bottom: solid 3px #2dc7ff;
}