body {
    background-color: #f1f8e9;
}

.main   {
    padding-top: 9%;
}

.tixie-text-link li a {
    color: #FFFFFF;
}

.tixie-text-link li {
    color: #FFFFFF;
}

.tixie-80vh{
    max-height: 80vh;
}

.tixie-tb-div{
    padding: 0 9px 0 9px;

}

.tixie-row{
    padding: 16px 9px 16px 9px;
    border-top: #999 solid 1px;
}

.uk-nav-header {
    color: #FFFFFF;
}



/* Logout*/
.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    background-color: #fafafa;
    box-shadow: 0 0 0.5rem #babbbc;
    animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
    100% {
        transform: rotate(-360deg);
    }
}
.photo img {
    width: 100%;
}