body {
    background-color: #f1f8e9;
}

.main   {
    padding-top: 9%;
}

.tixie-text-link li a {
    color: #FFFFFF;
}

.tixie-text-link li {
    color: #FFFFFF;
}

.uk-nav-header {
    color: #FFFFFF;
}


/*.tix-card-background,*/
/*.tixie-main-body,*/
/*.tixie-card {*/
/*    color: #FFF;*/
/*    -webkit-box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.48);*/
/*    -moz-box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.48);*/
/*    box-shadow: 0px 0px 29px -5px rgba(0,0,0,0.48);*/
/*}*/



/* Logout*/
.photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    background-color: #fafafa;
    /*margin-left: -50px;*/
    box-shadow: 0 0 0.5rem #babbbc;
    animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
    100% {
        transform: rotate(-360deg);
    }
}
.photo img {
    width: 100%;
}