body {
    background-color: #f1f8e9;
}

.main   {
    padding-top: 9%;
}

.tixie-text-link li a {
    color: #FFFFFF;
}

.tixie-text-link li {
    color: #FFFFFF;
}

.uk-nav-header {
    color: #FFFFFF;
}

/* Logout*/
.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fafafa;
    background-color: #fafafa;
    box-shadow: 0 0 0.5rem #babbbc;
    animation: rotate-photo 0.5s forwards ease-in-out;
}
@keyframes rotate-photo {
    100% {
        transform: rotate(-360deg);
    }
}
.photo img {
    width: 100%;
}