@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');


body {
    /*background-image: radial-gradient(circle, #734b6d, #633f62, #533457, #44294d, #351f42);*/
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fjalla One', sans-serif;
}

.uk-card {

}

.tixie-landing-page {
    background-color: #4C53DC;
    padding-top: 10%;
    height:90vh;
}


.tixie-landing-slogan {
    color: blanchedalmond;
    font-family: 'Fjalla One', sans-serif;
}

.tixie-landing-stats {
    font-family: 'Fjalla One', sans-serif;
    color: #4C53DC;
}


/* Stats Styles*/

.tixie-landing-stats-client {
    color: deeppink;
}

.tixie-landing-stats-sub {
    color: lightgreen;
}

.tixie-landing-stats-tix {
    color:#4C53DC ;
}



/* What Tixie is About*/


/* Tixie Font Style / Landing */
@media screen and (min-width: 1000px) {
    body {
        grid-template-columns: 1fr 1fr;
    }
}

.heading {
    font-size: 8rem;
    letter-spacing: 6px;
    margin: 2rem 0;
}
.heading--stroke {
    -webkit-text-stroke-width: 2px;
    -moz-text-stroke-width: 2px;
    -webkit-text-stroke-color: blanchedalmond;
    -moz-text-stroke-color: blanchedalmond;
    color: transparent;
}
.heading--shadow {
    text-shadow: 6px 6px #2dc7ff;
}
.heading--stroke-shadow {
    color: #f2cee6;
    text-shadow: -2px 0 #0d1b1e, 0 -2px #0d1b1e, 2px 0 #0d1b1e, 0 2px #0d1b1e, 2px 2px #0d1b1e, -2px -2px #0d1b1e, -2px 2px #0d1b1e, 2px -2px #0d1b1e, 6px 6px #2dc7ff;
}
.heading--halftone {
    position: relative;
}
.heading--halftone:after {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQYV2NUVFT8f//+fUYGBgYGMAEDcA5IBQCKJQVmn76DhAAAAABJRU5ErkJggg==") repeat;
    -webkit-text-stroke-width: 0;
    -moz-text-stroke-width: 0;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 6rem;
    letter-spacing: 6px;
    left: calc(50% + 6px);
    top: calc(50% + 6px);
    content: "Hello";
    z-index: -1;
    position: absolute;
    transform: translate(-50%, -50%);
}
.heading--halftone-color:after {
    background-color: #2dc7ff;
}

.info {
    padding: 1rem 0;
}
@media screen and (min-width: 1000px) {
    .info {
        grid-column: 1 / 3;
    }
}