@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700,700i&display=swap');

.tixie-landing-page {
    padding-top: 10%;
    background-image: radial-gradient(circle, #804777, #643963, #4b2c4e, #331f39, #1e1225);
    height: 100vh;
}

.tixie-landing-slogan {
    color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
}

