.main   {
    padding-top: 9%;
}

.fas,
.far{
    color: #4C53DC;
}

.tixie-tech-icons {
    color: #FFF;
}

.tixie-tech-icon-elec {
    color: #e6c015;
}

.tixie-tech-icon-plumb {
    color: #a18cd1;
}

.tixie-tech-icon-cust {
    color: #2A3142;
}

.tixie-tech-icon-hvac {
    color: #74E083;
}

.tixie-tech-icon-carp {
    color: #ff4b5a;
}