@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');

body {
    font-family: "Noto Sans", "Arial", "Helvetica Neue", sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}


.uk-navbar-nav li a {
    color: #333;
    font-size: x-large;

}

.uk-navbar-nav li form button{
    font-size: x-large;

}

.uk-navbar-nav li a:hover {
    color: #2dc7ff;
}

.tixie-nav-global {
    background-color: #FFFFFF;
}

.tixie-nav-global {
    -webkit-box-shadow: -2px 9px 5px -4px rgba(189,182,189,1);
    -moz-box-shadow: -2px 9px 5px -4px rgba(189,182,189,1);
    box-shadow: -2px 9px 5px -4px rgba(189,182,189,1);
}

