@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Noto+Sans&display=swap');

body {
    font-family: "Noto Sans", "Arial", "Helvetica Neue", sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One', sans-serif;
}

.highlight {
    background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #FFD0AE 50%);
}

.uk-navbar-nav li a {
    color: #333;
}

.uk-navbar-nav li a:hover {
    color: #2dc7ff;
}

.tixie-nav-global {
    background-color: #FFFFFF;
}

.tixie-nav-global {
    border-bottom: #2A3142;
    border-left: #2A3142;
    border-right:#2A3142;
}