h1,
h2,
h3,
h4,
h5 {
    font-family: 'Fjalla One', sans-serif;
}

.main {
    padding-top: 9%;
}

.tixie-tech-icons {
    color: #FFF;
}

.fas,
.far{
    color: #4C53DC;
}

.tixie-tech-icon-elec {
    color: #e6c015;
}

.tixie-tech-icon-plumb {
    color: #a18cd1;
}

.tixie-tech-icon-hvac {
   color: #2A3142;
}

.tixie-tech-icon-hvac {
    color: #74E083;
}

.tixie-tech-icon-carp {
    color: #ff4b5a;
}

