<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials/common :: head">
    </th:block>
    <link rel="stylesheet" href="/css/landing.css"/>
    <title>Tixie.Pro | Maintenance Ticketing System</title>
</head>
<body>
<div class="uk-container">
    <th:block th:replace="partials/common :: navigation-index-page">
    </th:block>
</div>
<div class="tixie-landing-page">
    <div class="uk-container">
        <div uk-grid="">
            <div class="uk-width-1-2 tixie-landing-image">
                <!--                <img src="https://cdn.dribbble.com/users/79571/screenshots/5984205/resource_illustrations_affinity_designer.png" alt="">-->
                <img src="https://cdn.dribbble.com/users/14268/screenshots/4521704/late.png"
                     alt=""/>
            </div>
            <div class="uk-width-1-2">
                <h1><span class="highlight">Still</span> using an old tired maintenance ticketing system? </h1>
                <h3 class="heading heading--stroke heading--shadow">Try Tixie</h3>
                <!--                <h5 class="tixie-landing-slogan">Track an issue. Any issue.</h5>-->
                <h5 class="tixie-landing">Learn More About Us <a href="#tixie-learn"><span class="tixie-learn-icon"
                                                                                           uk-icon="icon:  arrow-down; ratio: 2.0"></span></a>
                </h5>
            </div>
        </div>
    </div>
</div>
<!-- Stats-->
<div class="tixie-stats-container uk-box-shadow-small quote">
    <h1><span class="highlight">Tixie</span> Maintenance Tickets Features</h1>
    <div class="uk-container uk-margin-top uk-margin-bottom">
        <div class="uk-child-width-expand@s uk-text-center" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 500; repeat: true">
            <div class="">
                <h3>1| Track Tickets</h3>
                <img class="tixie-features" src="/img/Ticket-Step1.png" alt=""/>
            </div>
            <div class="">
                <h3>2| Live Chat</h3>
                <img class="tixie-features" src="/img/Ticket-Step2.png" alt=""/>
            </div>
            <div class="">
                <h3>3| Productivity</h3>
                <img class="tixie-features" src="/img/Ticket-Step3.png" alt=""/>
            </div>
        </div>

        <div class="uk-container uk-margin-top uk-margin-bottom">
            <div class="uk-child-width-expand@s uk-text-center" uk-grid=""
                 uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 500; repeat: true">
                <div class="">
                    <h3>4| Secure Portal</h3>
                    <img class="tixie-features" src="/img/Ticket-Step4.png" alt=""/>
                </div>
                <div class="">
                    <h3>5| Admin Dash</h3>
                    <img class="tixie-features" src="/img/Ticket-Step5.png" alt=""/>
                </div>
                <div class="">
                    <h3>6| Filter Tickets</h3>
                    <img class="tixie-features" src="/img/Ticket-Step6.png" alt=""/>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Stats-->

<!-- What Tixie Is-->
<!-- class="uk-card uk-card-default uk-card-small uk-card-body"-->
<div id="tixie-learn" class="uk-container uk-margin-top uk-margin-bottom">
    <div>
        <div class="uk-child-width-expand@s uk-text-center" uk-grid="" uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 300; repeat: true">
            <div class="">
                <img src="https://cdn.dribbble.com/users/369527/screenshots/5958438/agora_animation.gif" alt=""/>
            </div>
            <div class="uk-margin-top">
                <h2 class="uk-padding-large	uk-padding-remove-bottom">Tixie | <span class="highlight">Modern</span> Ticketing System</h2>
                <p class="uk-text-justify">Tixie is a ticketing system for maintenance personnel to modernize and
                    simplify handling maintenance
                    needs. This system features user friendly navigation and ticket creation to minimize any training
                    that may be needed for users on both sides of the system. It is also easily adaptable for easy
                    customization dependent on any clients needs.</p>
            </div>
        </div>
    </div>
</div>

</body>
<footer>
    <th:block th:include="partials/common :: footer">
    </th:block>
</footer>
</html>