<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="partials/common :: head">
    </th:block>
    <link rel="stylesheet" href="/css/landing.css" />
    <title>Tixie.Pro - Maintenance Ticketing System</title>
</head>
<body>
<div class="uk-container">
    <th:block th:replace="partials/common :: navigation-index-page">
</th:block></div>

<div class="tixie-landing-page">
    <div class="uk-container">
        <div uk-grid="">
            <div class="uk-width-1-2">
                <h1 class="tixie-landing-slogan" th:text='${"Future Amazing Slogan"}'></h1>
            </div>
            <div class="uk-width-1-2">
                <img src="/img/07.png" alt="" />
            </div>
        </div>
    </div>
</div>


</body>
<footer>
    <th:block th:include="partials/common :: footer">
    </th:block>
</footer>
</html>