<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css"/>
    <style>
        .float-right {
            float: right;
        }

        .height {
            height: min-content;
        }

    </style>
    <th:block th:include="partials/common :: head">
    </th:block>
    <title>Tixie | Technician View</title>

</head>
<body>
<th:block th:replace="partials/common :: navigation-index-page">
</th:block>
<div class="uk-container-medium">
    <h1 class="uk-text-center uk-heading-large">Assigned Tickets
    </h1>
    <button class="uk-button uk-button-default uk-margin-small-right" type="button"
            uk-toggle="target: #offcanvas-slide">My Tickets
    </button>
    <div id="offcanvas-slide" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <button class="uk-offcanvas-close" type="button" uk-close="true"></button>
            <div th:each="tickets : ${tix}">
                <th:block th:if="${tickets.statusId.id} != 1">

                    <h3 th:text="${tickets.id}"></h3>
                    <p th:text="${tickets.issue_details}">Carson</p>
                </th:block>
            </div>
        </div>
    </div>
    <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid="true">


        <div class="uk-width-1-2@m uk-card uk-card-body uk-overflow-auto uk-height-large">
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-heading-medium uk-heading-line uk-text-center"><span>Available Tickets</span></h3>
                <!--<div class="uk-overflow-auto height uk-height-large">-->
                <table class="uk-table uk-table-striped uk-height-medium uk-text-center">
                    <div th:each="tickets : ${tix}">
                        <th:block th:if="${tickets.statusId.id} != 3">
                            <tr>
                                <th class="uk-text-center">Active</th>
                                <th class="uk-text-center">Ticket Id</th>
                                <th class="uk-text-center">Notes</th>
                            </tr>
                            <tr>
                                <td class="uk-text-center">
                                    <th:block th:if="${active}">
                                        <th:block th:if="${tickets.id} == ${ticket.id}">
                                            <a th:href="@{'/tech/ticket/' + ${tickets.id}}">
                                                <div class="uk-card-body">
                                                    <div class="uk-text-center">
                                                        <div th:text="${tickets.statusId.status}"></div>
                                                        <form th:action="@{/techticket/inprogress}" th:method="post">
                                                            <input type="hidden" th:value="${tickets.id}"
                                                                   th:name="ticketIdIp"/>
                                                            <input type="hidden" th:value="2" th:name="statusIp"/>
                                                            <button><span uk-icon="icon: check"></span>Active</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </a>
                                        </th:block>
                                        <th:block th:if="${tickets.id} != ${ticket.id}">
                                            <a th:href="@{'/tech/ticket/' + ${tickets.id}}">
                                                <div class="uk-card-body">
                                                    <div class="uk-text-center" type="checkbox" name="active"
                                                         value="Active">

                                                        <button>Active</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </th:block>
                                    </th:block>
                                    <th:block th:if="${!active}">
                                        <a th:href="@{'/tech/ticket/' + ${tickets.id}}">
                                            <div class="uk-card-body">
                                                <div type="checkbox" name="active" value="Active">
                                                    <button>Activate</button>
                                                </div>
                                            </div>
                                        </a>
                                    </th:block>
                                </td>
                                <td><p class="uk-card-body" th:text="${tickets.id}"/></td>
                                <td><p class="uk-card-body" th:text="${tickets.issue_details}"/></td>
                            </tr>
                        </th:block>
                    </div>
                </table>
            </div>
        </div>
        <div class="uk-width-1-2@m uk-card uk-card-body height" id="completedRemove">
            <div th:if="${active}">
                <!--<div class="uk-grid-small uk-child-width-auto" uk-grid="true" uk-countdown="date: 2019-07-24T14:39:43+00:00">-->
                <!--<div>-->
                <!--<div class="uk-countdown-number uk-countdown-days"></div>-->
                <!--<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>-->
                <!--</div>-->
                <!--<div class="uk-countdown-separator">:</div>-->
                <!--<div>-->
                <!--<div class="uk-countdown-number uk-countdown-hours"></div>-->
                <!--<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>-->
                <!--</div>-->
                <!--<div class="uk-countdown-separator">:</div>-->
                <!--<div>-->
                <!--<div class="uk-countdown-number uk-countdown-minutes"></div>-->
                <!--<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>-->
                <!--</div>-->
                <!--<div class="uk-countdown-separator">:</div>-->
                <!--<div>-->
                <!--<div class="uk-countdown-number uk-countdown-seconds"></div>-->
                <!--<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-heading-medium uk-heading-line uk-text-center"><span>Active Ticket</span></h3>
                    <div class="uk-overflow-auto height uk-height-large">
                        <table class="uk-table uk-table-striped">
                            <tr>
                                <th>Category: <span th:text="${ticket.specialization_id.name}"></span></th>
                            </tr>
                            <tr>
                                <th>Location: <span th:text="${ticket.location_1}"></span> , <span
                                        th:text="${ticket.location_2}"></span></th>
                            </tr>
                        </table>
                        <div>
                            <h3 class="uk-heading-small uk-heading-line uk-text-center"><span>Details</span></h3>
                        </div>
                        <div class="uk-card-body">
                            <p th:text="${ticket.issue_details}"></p>
                        </div>
                        <div>
                            <h3 class="uk-heading-small uk-heading-line uk-text-center"><span>Notes</span></h3>
                        </div>
                        <div th:each="note : ${note}" class="uk-card-body">
                            <p th:text="${note.description}"></p>
                        </div>
                        <table class="uk-table uk-table-striped">
                            <tr>
                                <td style="text-align: left">
                                    <form th:action="@{/techticket/inprogress}" th:method="post">
                                        <input type="hidden" th:value="${ticket.id}"
                                               th:name="ticketIdIp"/>
                                        <input type="hidden" th:value="2" th:name="statusIp"/>
                                        <button th:text="${ticket.statusId.status}" class="uk-button uk-button-default"><span
                                                uk-icon="icon: check"></span>In Progress
                                        </button>
                                    </form>
                                </td>
                                <td style="text-align: center">
                                    <form th:action="@{'/techticketcomplete'}" th:method="post">
                                        <input type="hidden" th:value="${ticket.id}" th:name="ticketId"/>
                                        <input type="hidden" th:value="3" th:name="status"/>
                                        <button class="uk-button uk-button-primary">Completed</button>
                                    </form>
                                </td>
                                <td style="text-align: right">
                                    <button class="uk-button uk-button-danger" type="button"
                                            onclick="UIkit.notification({message: 'This ticket has been escalated to a Manager!', status: 'success'})">
                                        Escalate
                                    </button>


                                    <!--<label for="escalate">Escalate</label>-->
                                </td>
                            </tr>
                        </table>
                        <form th:action="@{/techreassign}" th:method="post">
                            <select name="assign" id="assign">
                                <th:block th:each="tech : ${techs}">
                                    <!--                                <th:block th:if="${ticket.specialization_id}==${tech.specialization}">-->
                                    <th:block th:if="${ticket.ownerId}==${tech}">
                                        <option th:value="@{${tech.id}}"
                                                th:text="@{${tech.firstName}+' '+${tech.lastName}}"
                                                th:selected="@{selected}">
                                        </option>
                                    </th:block>
                                    <th:block th:if="${ticket.ownerId}!=${tech}">
                                        <th:block th:if="${ticket.specialization_id}==${tech.specialization}">
                                            <option th:value="@{${tech.id}}"
                                                    th:text="@{${tech.firstName}+' '+${tech.lastName}}">
                                            </option>
                                        </th:block>
                                    </th:block>
                                </th:block>
                                <input type="hidden" th:value="${ticket.id}" name="ticketid"/>
                                <button th:type="submit">submit</button>
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    UIkit.notification({
        message: 'my-message!',
        status: 'primary',
        pos: 'top-right',
        timeout: 1500
    });

    // Shortcuts
    UIkit.notification('My message');
    UIkit.notification('My message', status);
    UIkit.notification('My message', { /* options */});
</script>

</body>
<footer>
    <th:block th:include="partials/common :: footer">
    </th:block>
</footer>
</html>