<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:include="partials/common :: head">
    </th:block>
    <link rel="stylesheet" href="/css/technician.css"/>
    <script src="https://kit.fontawesome.com/7508253178.js"></script>
    <title>Tixie | Technician View</title>
</head>
<body>
<div class="uk-container">
    <th:block th:include="partials/common :: navigation-index-page">
    </th:block>
</div>
<div sec:authorize="isAuthenticated()">

    <div class="main">
        <div class="uk-container">
            <div class="tixie-assigned-tech-tix uk-margin-top">

                <h3>Assigned Tickets</h3>
                <div class="uk-card uk-card-default uk-card-body">
                    <table class="uk-table uk-table-striped">
                        <thead>
                        <th:block sec:authorize="isAuthenticated()">
                            <!--<div class="uk-width-auto uk-margin-bottom">-->
                            <div class="photo uk-text-center uk-align-center">
                                <img  th:src="${#authentication.principal.profileImage}" />
                            </div>
                            <!--</div>-->
                        </th:block>
                        <tr>
                            <th class="uk-table-shrink">View</th>
                            <th class="uk-table-shrink">Status</th>
                            <th class="uk-table-shrink">ID</th>
                            <th class="uk-table-expand">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="tickets : ${tix}">
                            <th:block th:if="${#authentication.principal.id} == ${tickets.ownerId.id}">
                                <tr>
                                    <td><a href=""><span class="tixie-tech-icons far fa-edit fa-2x"></span></a></td>
                                    <td class="uk-text-uppercase" th:text="${tickets.statusId.status}"></td>
                                    <td class="uk-text-uppercase"
                                        th:text="'TX-'+ ${tickets.id} + '-' + ${tickets.specialization_id.name}"></td>
                                    <td class="uk-text-truncate" th:text="${tickets.issue_details} "></td>
                                </tr>
                            </th:block>
                        </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="tixie-available-tech-tix uk-margin-top uk-margin-bottom">
                    <h3>Available Tickets</h3>
                    <div uk-filter="target: .js-filter">
                        <div class="uk-grid-small uk-grid-divider uk-child-width-auto" uk-grid="">
                            <div>
                                <ul class="uk-subnav uk-subnav-pill" uk-margin="">
                                    <li class="uk-active" uk-filter-control=""><a href="#">All</a></li>
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-subnav uk-subnav-pill" uk-margin="">
                                    <li uk-filter-control="filter: [data-spec='plumbing']; group: data-spec"><a
                                            href="#">Plumbing</a>
                                    </li>
                                    <li uk-filter-control="filter: [data-spec='electrical']; group: data-spec"><a
                                            href="#">Electrical</a>
                                    </li>
                                    <li uk-filter-control="filter: [data-spec='carpenter']; group: data-spec"><a
                                            href="#">Carpentry</a>
                                    </li>
                                    <li uk-filter-control="filter: [data-spec='hvac']; group: data-spec"><a
                                            href="#">HVAC</a></li>
                                    <li uk-filter-control="filter: [data-spec='custodian']; group: data-spec"><a
                                            href="#">Custodian</a>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul class="uk-subnav uk-subnav-pill" uk-margin="">
                                    <li uk-filter-control="filter: [data-pri='low']; group: data-pri"><a
                                            href="#">Low</a>
                                    </li>
                                    <li uk-filter-control="filter: [data-pri='medium']; group: data-pri"><a
                                            href="#">Medium</a></li>
                                    <li uk-filter-control="filter: [data-pri='high']; group: data-pri"><a
                                            href="#">High</a>
                                    </li>
                                    <li uk-filter-control="filter: [data-pri='urgent']; group: data-pri"><a
                                            href="#">Urgent</a></li>
                                </ul>
                            </div>
                        </div>
                        <ul class="js-filter uk-child-width-1-2 uk-child-width-1-3@m" uk-grid=""
                            uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 100; repeat: true">
                            <th:block th:each="tickets : ${tix}">
                                <th:block th:if="${tickets.statusId.id} != 3">
                                    <li data-th-attr="data-spec=${tickets.specialization_id.name}, data-pri=${tickets.priorityId.name}">
                                        <div class="uk-card uk-card-default uk-card-body">
                                            <!-- Logic checks for spec name comparison and adds appropriate class -->
                                            <div class="uk-text-center tixie-tech-icons" th:classappend="
                                        ${(tickets.specialization_id.name   == 'electrical' ? 'tixie-tech-icon-elec fas fa-bolt fa-2x' : '') +
                                        (tickets.specialization_id.name     == 'plumbing' ? 'tixie-tech-icon-plumb fas fa-tint fa-2x' : '')  +
                                        (tickets.specialization_id.name     == 'hvac' ? 'tixie-tech-icon-hvac fas fa-thermometer-three-quarters fa-2x' : '') +
                                        (tickets.specialization_id.name     == 'custodian' ? 'tixie-tech-icon-cust fas fa-broom fa-2x' : '') +
                                        (tickets.specialization_id.name     == 'carpenter' ? 'tixie-tech-icon-carp fas fa-hammer fa-2x' : '')}">
                                            </div>
                                            <h6 class="uk-margin-remove-top uk-text-bold uk-text-uppercase tixie-ticket-name"
                                                th:text="'Ticket ID: TX-'+ ${tickets.id} + '-' + ${tickets.specialization_id.name}"></h6>
                                            <!-- Logic checks for priority name comparison and adds appropriate class -->
                                            <span class="uk-label" th:text="${tickets.priorityId.name}" th:classappend="
                                        ${(tickets.priorityId.name == 'low' ? 'uk-label-default': '') +
                                        (tickets.priorityId.name == 'medium' ? 'uk-label-success': '') +
                                        (tickets.priorityId.name == 'high' ? 'uk-label-warning': '') +
                                        (tickets.priorityId.name == 'urgent' ? 'uk-label-danger': '')}"></span>
                                            <div class="uk-margin-top uk-text-truncate">
                                                <span class="uk-text-bold">Details:</span>
                                                <span class="tixie-ticket-name"
                                                      th:text="${tickets.issue_details}"></span>
                                            </div>
                                            <th:block th:if="${!active}">
                                                <a class="uk-button uk-button-default"
                                                   th:href="'#modal-'+ ${tickets.id}"
                                                   uk-toggle="">View</a>
                                                <div th:id="'modal-'+ ${tickets.id}" uk-modal="">
                                                    <div class="uk-modal-dialog">
                                                        <button class="uk-modal-close-default" type="button"
                                                                uk-close=""></button>
                                                        <div class="uk-modal-header">
                                                            <h2 class="uk-modal-title uk-text-capitalize"
                                                                th:text="'Ticket ID: TX-'+ ${tickets.id} + '-' + ${tickets.specialization_id.name}">
                                                                Modal Title</h2>
                                                        </div>
                                                        <div class="uk-modal-body">
                                                            <div class="">
                                                                <span class="uk-text-bold">Location:</span><span
                                                                    th:text="' ' + ${tickets.location_1} + ' |' + ${tickets.location_1}"></span>
                                                            </div>
                                                            <div class="">
                                                                <span class="uk-text-bold">Details:</span><span
                                                                    th:text="' ' + ${tickets.issue_details}"></span>
                                                            </div>
                                                        </div>
                                                        <div class="uk-modal-footer uk-text-right">
                                                            <button class="uk-button uk-button-default uk-modal-close"
                                                                    type="button">Cancel
                                                            </button>
                                                            <button class="uk-button uk-button-primary" type="button">
                                                                Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th:block>
                                        </div>
                                    </li>
                                </th:block>
                            </th:block>
                        </ul>
                    </div>
                </div>
            </div>
            <a href="#" uk-totop="" uk-scroll="" class="uk-align-right"></a>
        </div>
    </div>
</div>

<!-- Old Code-->

<!--<div sec:authorize="isAuthenticated()">-->
<!--<div class="uk-container-medium">-->
<!--<h1 class="uk-text-center uk-heading-large">Assigned Tickets-->
<!--</h1>-->
<!--<button class="uk-button uk-button-default uk-margin-small-right" type="button"-->
<!--uk-toggle="target: #offcanvas-slide">My Tickets-->
<!--</button>-->
<!--<div id="offcanvas-slide" uk-offcanvas="overlay: true">-->
<!--<div class="uk-offcanvas-bar">-->
<!--<button class="uk-offcanvas-close" type="button" uk-close="true"></button>-->
<!--<div th:each="tickets : ${tix}">-->
<!--<th:block th:if="${#authentication.principal.id} == ${tickets.ownerId.id}">-->
<!--<h3 th:text="${tickets.id}"></h3>-->
<!--<p th:text="${tickets.issue_details}">Carson</p>-->
<!--<p>Status: <span th:text="${tickets.statusId.status}"></span></p>-->
<!--</th:block>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-grid-match uk-grid-small uk-text-center" uk-grid="true">-->
<!--<div class="uk-width-1-2@m uk-card uk-card-body uk-overflow-auto uk-height-large">-->
<!--<div class="uk-card uk-card-default uk-card-body">-->
<!--<h3 class="uk-heading-medium uk-heading-line uk-text-center"><span>Available Tickets</span></h3>-->
<!--&lt;!&ndash;<div class="uk-overflow-auto height uk-height-large">&ndash;&gt;-->
<!--<table class="uk-table uk-table-striped uk-height-medium uk-text-center">-->
<!--<div th:each="tickets : ${tix}">-->
<!--<th:block th:if="${tickets.statusId.id} != 3">-->
<!--<tr>-->
<!--<th class="uk-text-center">Active</th>-->
<!--<th class="uk-text-center">Ticket Id</th>-->
<!--<th class="uk-text-center">Notes</th>-->
<!--</tr>-->
<!--<tr>-->
<!--<td class="uk-text-center">-->
<!--<th:block th:if="${active}">-->
<!--<th:block th:if="${tickets.id} == ${ticket.id}">-->
<!--<a th:href="@{'/tech/ticket/' + ${tickets.id}}">-->
<!--<div class="uk-card-body">-->
<!--<div class="uk-text-center">-->
<!--<button><span uk-icon="icon: check"></span>Active-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</th:block>-->
<!--<th:block th:if="${tickets.id} != ${ticket.id}">-->
<!--<a th:href="@{'/tech/ticket/' + ${tickets.id}}">-->
<!--<div class="uk-card-body">-->
<!--<div class="uk-text-center" type="checkbox" name="active"-->
<!--value="Active">-->
<!--<button>Active</button>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</th:block>-->
<!--</th:block>-->
<!--<th:block th:if="${!active}">-->
<!--<a th:href="@{'/tech/ticket/' + ${tickets.id}}">-->
<!--<div class="uk-card-body">-->
<!--<div type="checkbox" name="active" value="Active">-->
<!--<button>Activate</button>-->
<!--</div>-->
<!--</div>-->
<!--</a>-->
<!--</th:block>-->
<!--</td>-->
<!--<td><p class="uk-card-body" th:text="${tickets.id}"/></td>-->
<!--<td><p class="uk-card-body" th:text="${tickets.issue_details}"/></td>-->
<!--</tr>-->
<!--</th:block>-->
<!--</div>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--<div class="uk-width-1-2@m uk-card uk-card-body height" id="completedRemove">-->
<!--<div th:if="${active}">-->
<!--&lt;!&ndash;<div class="uk-grid-small uk-child-width-auto" uk-grid="true" uk-countdown="date: 2019-07-24T14:39:43+00:00">&ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-number uk-countdown-days"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-separator">:</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-number uk-countdown-hours"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-separator">:</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-number uk-countdown-minutes"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-separator">:</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-number uk-countdown-seconds"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="uk-card uk-card-default uk-card-body">-->
<!--<h3 class="uk-heading-medium uk-heading-line uk-text-center"><span>Active Ticket</span></h3>-->
<!--<div class="uk-overflow-auto height uk-height-large">-->
<!--<table class="uk-table uk-table-striped">-->
<!--<tr>-->
<!--<th>Category: <span th:text="${ticket.specialization_id.name}"></span></th>-->
<!--</tr>-->
<!--<tr>-->
<!--<th>Location: <span th:text="${ticket.location_1}"></span> , <span-->
<!--th:text="${ticket.location_2}"></span></th>-->
<!--</tr>-->
<!--</table>-->
<!--<div>-->
<!--<h3 class="uk-heading-small uk-heading-line uk-text-center"><span>Details</span>-->
<!--</h3>-->
<!--</div>-->
<!--<div class="uk-card-body">-->
<!--<p th:text="${ticket.issue_details}"></p>-->
<!--</div>-->
<!--<div>-->
<!--<h3 class="uk-heading-small uk-heading-line uk-text-center"><span>Notes</span></h3>-->
<!--</div>-->
<!--<div th:each="note : ${note}" class="uk-card-body">-->
<!--<p th:text="${note.description}"></p>-->
<!--</div>-->
<!--<table class="uk-table uk-table-striped">-->
<!--<tr>-->
<!--<td style="text-align: left">-->
<!--<form th:action="@{/techticket/inprogress}" th:method="post">-->
<!--<input type="hidden" th:value="${ticket.id}"-->
<!--th:name="ticketIdIp"/>-->
<!--<input type="hidden" th:value="2" th:name="statusIp"/>-->
<!--<button th:text="${ticket.statusId.status}"-->
<!--class="uk-button uk-button-default"><span-->
<!--uk-icon="icon: check"></span>In Progress-->
<!--</button>-->
<!--</form>-->
<!--</td>-->
<!--<td style="text-align: center">-->
<!--<form th:action="@{'/techticketcomplete'}" th:method="post">-->
<!--<input type="hidden" th:value="${ticket.id}" th:name="ticketId"/>-->
<!--<input type="hidden" th:value="3" th:name="status"/>-->
<!--<button class="uk-button uk-button-primary">Completed</button>-->
<!--</form>-->
<!--</td>-->
<!--<td style="text-align: right">-->
<!--<form th:action="@{/techescalate}" th:method="post">-->
<!--<select name="assign" id="assign">-->
<!--<th:block th:each="tech : ${techs}">-->
<!--<th:block th:if="${ticket.ownerId}!=${tech}">-->
<!--<th:block th:if="${tech.role.role}==@{'manager'}">-->
<!--<option th:value="@{${tech.id}}"-->
<!--th:text="@{${tech.firstName}+' '+${tech.lastName}}">-->
<!--</option>-->
<!--</th:block>-->
<!--</th:block>-->
<!--</th:block>-->
<!--<input type="hidden" th:value="${ticket.id}" name="ticketid"/>-->
<!--<button class="uk-button uk-button-danger" type="submit"-->
<!--onclick="UIkit.notification({message: 'This ticket has been escalated to a Manager!', status: 'success'})">-->
<!--Escalate-->
<!--</button>-->
<!--</select>-->
<!--</form>-->
<!--</td>-->
<!--</tr>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<script>
    UIkit.notification({
        message: 'my-message!',
        status: 'primary',
        pos: 'top-right',
        timeout: 1500
    });
    // Shortcuts
    UIkit.notification('My message');
    UIkit.notification('My message', status);
    UIkit.notification('My message', { /* options */});
</script>

</body>
<footer>
    <th:block th:include="partials/common :: footer">
    </th:block>
</footer>
</html>