<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/css/uikit.min.css"/>
    <style>
        .container {
            margin-top: 1rem;

        }


        .uk-countdown-label {
            font-size: 10px;
        }

        .uk-countdown-number {
            font-size: 50px;
        }

        /*.uk-height-large {*/
        /*height: 90vh;*/
        /*}*/

        .float-right {
            float: right;
        }

        .center {
            text-align: center;
        }

        .height {
            height: 630px;
        }


    </style>
</head>
<body>
<div class="container">
    <h1 class="center uk-heading-large">Assigned Tickets
        <button class="uk-button uk-button-danger float-right">Logout</button>
    </h1>
    <div class="uk-grid-match uk-grid-small uk-text-center" uk-grid="true">
        <div class="uk-width-1-2@m uk-card uk-card-body height">
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-heading-medium uk-heading-line uk-text-center"><span>Assign Ticket</span></h3>
                <div class="uk-overflow-auto height uk-height-large">
                    <table class="uk-table uk-table-striped uk-height-medium">
                        <div th:each="tickets : ${tix}">
                            <th:block th:if="${tickets.statusId.id} != 3">
                                <tr>
                                    <th>Active</th>
                                    <th>Ticket Id</th>
                                    <th>Notes</th>
                                </tr>
                                <tr>
                                    <td class="center">
                                        <th:block th:if="${active}">
                                            <th:block th:if="${tickets.id} == ${ticket.id}">
                                                <a th:href="@{'/tech/ticket/' + ${tickets.id}}">
                                                    <div class="uk-card-body">
                                                        <div class="center">
                                                            <input type="checkbox"
                                                                   checked="checked"/>
                                                        </div>
                                                    </div>
                                                </a>
                                            </th:block>
                                            <th:block th:if="${tickets.id} != ${ticket.id}">
                                                <a th:href="@{'/tech/ticket/' + ${tickets.id}}">
                                                    <div class="uk-card-body">
                                                        <div class="center" type="checkbox" name="active"
                                                             value="Active">
                                                            <button>Activate</button>
                                                        </div>
                                                    </div>
                                                </a>
                                            </th:block>
                                        </th:block>
                                        <th:block th:if="${!active}">
                                            <a th:href="@{'/tech/ticket/' + ${tickets.id}}">
                                                <div class="uk-card-body">
                                                    <div type="checkbox" name="active" value="Active">
                                                        <button>Activate</button>
                                                    </div>
                                                </div>
                                            </a>
                                        </th:block>
                                    </td>
                                    <td><p class="uk-card-body" th:text="${tickets.id}"/></td>
                                    <td><p class="uk-card-body" th:text="${tickets.issue_details}"/></td>
                                </tr>
                            </th:block>
                        </div>
                    </table>
                </div>
            </div>
        </div>
        <div class="uk-width-1-2@m uk-card uk-card-body height" id="completedRemove">
            <div th:if="${active}">
                <!--<div class="uk-grid-small uk-child-width-auto" uk-grid="true" uk-countdown="date: 2019-07-24T14:39:43+00:00">-->
                <!--<div>-->
                <!--<div class="uk-countdown-number uk-countdown-days"></div>-->
                <!--<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Days</div>-->
                <!--</div>-->
                <!--<div class="uk-countdown-separator">:</div>-->
                <!--<div>-->
                <!--<div class="uk-countdown-number uk-countdown-hours"></div>-->
                <!--<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Hours</div>-->
                <!--</div>-->
                <!--<div class="uk-countdown-separator">:</div>-->
                <!--<div>-->
                <!--<div class="uk-countdown-number uk-countdown-minutes"></div>-->
                <!--<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Minutes</div>-->
                <!--</div>-->
                <!--<div class="uk-countdown-separator">:</div>-->
                <!--<div>-->
                <!--<div class="uk-countdown-number uk-countdown-seconds"></div>-->
                <!--<div class="uk-countdown-label uk-margin-small uk-text-center uk-visible@s">Seconds</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="uk-card uk-card-default uk-card-body">
                    <h3 class="uk-heading-medium uk-heading-line uk-text-center"><span>Active Ticket</span></h3>
                    <div class="uk-overflow-auto height uk-height-large">
                        <table class="uk-table uk-table-striped">
                            <tr>
                                <th>Category: <span th:text="${ticket.specialization_id.name}"></span></th>
                            </tr>
                            <tr>
                                <th>Location: <span th:text="${ticket.location_1}"></span> , <span
                                        th:text="${ticket.location_2}"></span></th>
                            </tr>
                        </table>
                        <div>
                            <h3 class="uk-heading-small uk-heading-line uk-text-center"><span>Details</span></h3>
                        </div>
                        <div class="uk-card-body">
                            <p th:text="${ticket.issue_details}"></p>
                        </div>
                        <div>
                            <h3 class="uk-heading-small uk-heading-line uk-text-center"><span>Notes</span></h3>
                        </div>
                        <div th:each="note : ${note}" class="uk-card-body">
                            <p th:text="${note.description}"></p>
                        </div>
                        <table class="uk-table uk-table-striped">
                            <tr>
                                <td style="text-align: left"><input type="radio" checked="checked" name="radio"
                                                                    id="progress"/>
                                    <label for="progress">In Progress</label>
                                </td>
                                <td style="text-align: center">
                                    <form th:action="@{'/techticketcomplete'}" th:method="post">
                                        <input type="hidden" th:value="${ticket.id}" th:name="ticketId"/>
                                        <input type="hidden" th:value="3" th:name="status"/>
                                        <button>Completed</button>
                                    </form>
                                </td>
                                <td style="text-align: right"><input type="radio" name="radio" id="escalate"/>
                                    <label for="escalate">Escalate</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.6/js/uikit-icons.min.js"></script>
</body>
</html>